@using Web.YFC.Common

<!-- subheader begin -->
<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>@ViewBag.Community Community</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div class="clearfix"></div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-read">
                    <div>
                        <div class="preview">
                            <a href="#">
                                <h3 class="blog-title">@ViewBag.Community Community</h3>
                            </a>
                            <p>
                                @Html.Raw(ViewBag.Information)
                            </p>
                        </div>

                        <div id="blog-comment" style="text-align: left;">
                            <h3>Community Leaders</h3>
                            <table class="table table-striped">
                                @foreach (var leader in ViewData["Leaders"] as IEnumerable<CommunityLeader>)
                                {
                                    <tr>
                                        <td>@leader.Name</td>
                                        <td>@leader.Email</td>
                                    </tr>
                                }
                            </table>
                        </div>

                        <div id="blog-comment" style="text-align: left;">
                            <h3>Community Articles</h3>
                            <div class="clearfix">&nbsp;</div>
                            <ul  style="text-align: left; list-style-position: inside;">
                                @foreach (var article in ViewData["Articles"] as IEnumerable<CommunityArticle>)
                                {
                                    <li>
                                        <div class="preview">
                                            <a href="news-single.html">
                                                <h3 class="blog-title">@article.Title</h3>
                                            </a>@article
                                        </div>
                                    </li>
                                }                               
                            </ul>
                        </div>

                        <div id="blog-comment" style="text-align: left;">
                            <h3>Community Album</h3>
                            <div class="clearfix">&nbsp;</div>
                            <table class="table table-striped">
                            @foreach (var rss in ViewData["RssAlbums"] as IEnumerable<RSSAlbumData>)
                            {
                                    <tr>
                                        <td><a asp-action="CommunityAlbum" asp-route-id="@rss.AlbumId"><img src="@rss.ImageUrl" class="img-chef img-responsive" /></a></td>
                                        <td valign="middle">
                                            <h4>@rss.Title</h4>
                                            <div>Album : <a href="@rss.Link">@rss.AlbumId</a></div>
                                        </td>
                                    </tr>
                            }
                            </table>
                        </div>

                    </div>

                </div>

            </div>

            <div id="sidebar" class="col-md-4">

                <div class="widget latest_news">
                    <h3>Schedule</h3>
                    <ul class="bloglist-small">
                        @foreach (var schedule in ViewData["Schedules"] as IEnumerable<CommunitySchedule>)
                        {
                            <p class="clearfix">&nbsp;</p>
                            <li>
                                <div class="date-box">
                                    <span class="day">@schedule.Day.ToString().Substring(0, 3)</span>
                                    <span class="month">@DateTime.Now.ToString("MMM").ToUpper()</span>
                                </div>
                                <div class="txt">
                                    <h5><a href="css/#">@schedule.Title </a></h5>
                                    <div>
                                        <div>@schedule.Description </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>

        <div class="map">
        </div>

    </div>
</div>