@using Web.YFC.Common
<!-- slider -->
<div id="slider">
    <!-- revolution slider begin -->
    <div class="fullwidthbanner-container">
        <div id="revolution-slider">
            <ul>
                @foreach(var headline in ViewData["Headlines"] as IEnumerable<Headline>)
                {
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="1500">
                        <!--  BACKGROUND IMAGE -->
                        <img src="@AppSettings.ImageUrl/Headlines/@headline.HeadlineId/@headline.Picture" alt="">
                        <div class="tp-caption border-v lft"
                        data-x="540"
                        data-y="center"
                        data-speed="800"
                        data-start="400"
                        data-easing="easeInOutCubic"
                        data-endspeed="300">
                        </div>

                        <div class="tp-caption custom-font-1 lft"
                        data-x="600"
                        data-y="140"
                        data-speed="800"
                        data-start="1000"
                        data-easing="easeInOutCubic"
                        data-endspeed="300">
                            @headline.Subtitle
                        </div>

                        <div class="tp-caption lft custom-font-2"
                        data-x="600"
                        data-y="190"
                        data-speed="800"
                        data-start="800"
                        data-easing="easeInOutCubic">
                            @headline.Title
                        </div>

                        <div class="tp-caption sfb text-left"
                        data-x="600"
                        data-y="240"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeInOutCubic">
                            @headline.Description
                        </div>

                        <div class="tp-caption sfb text-left"
                        data-x="600"
                        data-y="310"
                        data-speed="800"
                        data-start="1600"
                        data-easing="easeInOutCubic">
                            <a class="btn btn-slider" href="@headline.Url">Read More</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- revolution slider close -->
</div>
<!-- slider close -->

<div class="clearfix"></div>

<!-- content begin -->
<div id="content" class="no-padding">

    <!-- section begin -->
    <section id="page-events" class="no-padding">
        <div class="fullwidth">
            <div class="one-fourth text-center">
                <div class="title-area wow slideInLeft">
                    <span>Upcoming</span>
                    <h1>Events</h1>
                </div>
            </div>

            <div class="three-fourth">
                <div class="fx custom-carousel-1">
                    @foreach (var _event in ViewData["Events"] as IEnumerable<Event>)
                    {
                        <div class="item">
                            <div class="overlay">
                                <span class="time">@_event.EventDate.ToString("MMMM dd, yyyy")</span>
                                <a href="#">
                                    <h3>@_event.Title</h3>
                                </a>
                                <span class="desc">
                                    @_event.Description
                                </span>
                            </div>
                            <img src="@AppSettings.ImageUrl/Events/@_event.EventId/@_event.Picture" alt="">
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                    <h2>About The Church</h2>
                    <div class="divider-double"></div>
                </div>

                @foreach(var church in ViewData["Churches"] as IEnumerable<Church>)
                {
                    <div class="col-md-4 wow fadeInRight" data-wow-delay=".5s">
                        <img src="@AppSettings.ImageUrl/Churches/@church.ChurchId/@church.Picture" class="img-responsive" alt="">
                        <h3>@church.Title</h3>
                        @church.Description
                        <br>
                        <br>
                        <a href="@church.URL" class="st-btn">Read More</a>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="latest-sermons">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp">
                    <h2>Latest Teachings</h2>
                    <div class="divider-double"></div>
                </div>
                <div class="col-md-10 col-md-offset-1">

                    @foreach (var teaching in ViewData["Teachings"] as IEnumerable<Teaching>)
                    {
                        <div class="custom-col-3 wow flipInX">
                            <div class="left-col">
                                <img src="@AppSettings.ImageUrl/Teachings/@teaching.TeachingId/@teaching.Picture" alt="" class="img-responsive">
                            </div>
                            <div class="mid-col">
                                <a href="#">
                                    <h3>@teaching.Title</h3>
                                </a>
                                <div class="details"><span>By <a href="#">@teaching.Speaker</a>, @teaching.TeachingDate.ToString("MMMM dd, yyyy")</span></div>
                            </div>
                            <div class="right-col">
                                <a href="@teaching.Video" target="_blank"><i class="fa fa-video-camera"></i></a>
                                <a href="@teaching.Audio" target="_blank"><i class="fa fa-volume-up"></i></a>
                                <a href="@teaching.PDF" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-text-2" class="no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
                    <h1>@ViewBag.Title</h1>
                    <p>@Html.Raw(ViewBag.Message)</p>

                    <p class="wow fadeIn" data-wow-delay='1.5s'>
                        <img src="@AppSettings.ImageUrl/Pastors/@ViewBag.PastorId/@ViewBag.Signature" alt="">
                    </p>

                </div>

                <div class="col-md-6 wow fadeInUp">
                    <img src="img/misc/pic-4.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testi-carousel" class="testi-slider text-center wow fadeInUp">
                        @foreach (var testimonial in ViewData["Testimonials"] as IEnumerable<Testimonial>)
                        {
                            <div class="item">
                                <blockquote>@testimonial.Content</blockquote>
                                <span class="testi-by">@testimonial.Author</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

</div>